MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB=trend_watching2
TELEGRAM_BOT_TOKEN=
DEEPSEEK_API_KEY=
OPENAI_API_KEY=your_openai_key
GEMINI_API_KEY=your_gemini_key
LLM_PROVIDER=deepseek  # или openai, или gemini